// Tipografia
$fuente: 'Poppins', sans-serif;
//Colores
$teaGreen:#D0F1BF;
$celadon: #B6D7B9;
$cambridge:#9ABD97;
$darkMoss:#646536;
$drabDark:#483D03;

$Xanthous:#FFC15E;
$EarthYellow:#F7B05B;
$SandyBrown:#F7934C;
$Tawny:#CC5803;
$Licorice:#1F1300;