@use 'base/variables' as v;
@use 'base/mixins' as m;
// Nosotros
.nosotros{
    margin-top: 7rem;
}
.nosotros__contenido{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    @include m.desktop{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}
.nosotros__contenido__parrafo{
    margin: 0;
    text-align: center;
    color: #716c54;
}
.nosotros__contenido__imagen{
    border-radius: 1rem;
}